doctype html
block html
html(lang="ru")
    head
        block seo
            - var seo = {title: '', description: '', keywords: ''}
        include includes/_meta

    body
        include includes/_mixin

        main.main(role="main")
            block main

        include includes/_scripts