$color_black: #48575E;
$color_gray: #718096;
$color_gray_light: #9AA7BA;
$color_green: #4CB648;
$color_green_btn: #139300;
$color_white: #fff;
$color_bg: #EAEEF4;
$color_red: #CF1212;

$transition: .5s ease;